<h1 mat-dialog-title>Add Data</h1>
<form (ngSubmit)="saveData()" #dataForm="ngForm">
  <mat-dialog-content>
    <div class="row">
    <mat-form-field appearance="fill"><br>
      <mat-label>Enter patient id:</mat-label>
      <input matInput placeholder="ID" name="pid" [(ngModel)]="data.pid" #pid="ngModel" required>
      <mat-error *ngIf="pid.invalid && pid.touched">Name can only contain letters and spaces.</mat-error>
    </mat-form-field><br>

      </div>

      <div class="row">
        Type of patient:
    <mat-radio-group [(ngModel)]="data.patienttype" name="patientType">
      <mat-radio-button value="inpatient">Inpatient</mat-radio-button>
      <mat-radio-button value="outpatient">Outpatient</mat-radio-button>
    </mat-radio-group>
  </div>
    
      <!-- Inpatient form fields -->

      <div [ngClass]="{'disabled': data.patienttype !== 'inpatient'}">

        <div class="row">
          Attending doctor ID:
          <mat-form-field appearance="fill">
          <mat-label>Enter doctor ID:</mat-label>
          <input matInput placeholder="Name" name="indid" [(ngModel)]="data.indid" #indid="ngModel" required pattern="[a-zA-Z\s]+" [disabled]="data.patienttype !== 'inpatient'">
          <mat-error *ngIf="indid.invalid && indid.touched">Name can only contain letters and spaces.</mat-error>
        </mat-form-field> &nbsp;
          Attending doctor name:
          <mat-form-field appearance="fill">
            <mat-label>enter name:</mat-label>
            <input matInput placeholder="Name" name="inname" [(ngModel)]="data.inname" #inname="ngModel" required pattern="[a-zA-Z\s]+" [disabled]="data.patienttype !== 'inpatient'">
            <mat-error *ngIf="inname.invalid && inname.touched">Name can only contain letters and spaces.</mat-error>
          </mat-form-field> &nbsp;
        </div>
          <div class="row">
          Admission date:
          <mat-form-field appearance="fill">
            <mat-label>Admitted on</mat-label>
            <input matInput [matDatepicker]="invisit" name="invisit" required [(ngModel)]="data.invisit" [disabled]="data.patienttype !== 'inpatient'">
            <mat-datepicker-toggle matSuffix [for]="invisit"></mat-datepicker-toggle>
            <mat-datepicker #invisit></mat-datepicker>
            <mat-error *ngIf="!data.invisit">Please enter a valid date of birth.</mat-error>
          </mat-form-field> &nbsp;
          Discharge date:
          <mat-form-field appearance="fill">
            <mat-label>Discharge date</mat-label>
            <input matInput [matDatepicker]="inexit" name="inexit" required [(ngModel)]="data.inexit" [disabled]="data.patienttype !== 'inpatient'">
            <mat-datepicker-toggle matSuffix [for]="inexit"></mat-datepicker-toggle>
            <mat-datepicker #inexit></mat-datepicker>
            <mat-error *ngIf="!data.inexit">Please enter a valid date of birth.</mat-error>
          </mat-form-field> &nbsp;
          </div>
          <div class="row">
          Ward/Department admitted in:
          <mat-form-field appearance="fill">
            <mat-label>Enter department name:</mat-label>
            <input matInput placeholder="Department" name="indep" [(ngModel)]="data.indep" #indep="ngModel" required pattern="[a-zA-Z\s]+" [disabled]="data.patienttype !== 'inpatient'">
            <mat-error *ngIf="indep.invalid && indep.touched">Name can only contain letters and spaces.</mat-error>
          </mat-form-field> &nbsp;
          Room number:
          <mat-form-field appearance="fill">
            <mat-label>Enter room number:</mat-label>
            <input matInput placeholder="Room number" name="inroom" [(ngModel)]="data.inroom" #inroom="ngModel" required [disabled]="data.patienttype !== 'inpatient'">
            <mat-error *ngIf="inroom.invalid && inroom.touched">Enter the room number.</mat-error>
          </mat-form-field> &nbsp;
          </div>
          <div class="row">
          Bed number:
          <mat-form-field appearance="fill">
            <mat-label>Enter bed number:</mat-label>
            <input matInput placeholder="Department" name="inbed" [(ngModel)]="data.inbed" #inbed="ngModel" required [disabled]="data.patienttype !== 'inpatient'">
            <mat-error *ngIf="inbed.invalid && inbed.touched">Enter the room number.</mat-error>
          </mat-form-field> &nbsp;
          </div>
          <div class="row" >
            <div>
              <ul>
               <strong> Press to add symptoms</strong>
                <li *ngFor="let insymptom of insymptoms; let k = index">
                  Symptoms:
                  <mat-form-field appearance="fill">
                    <mat-label>Symptom{{k+1}}:</mat-label>
                  <input matInput type="text" [(ngModel)]="insymptom.symptom" name="symptom{{k}}" [disabled]="data.patienttype !== 'inpatient'">
                  </mat-form-field> &nbsp;
                  Severity:
                  <mat-form-field appearance="fill">
                    <mat-label>Severity:</mat-label>
                  <input matInput type="text" [(ngModel)]="insymptom.severity" name="severity{{k}}" [disabled]="data.patienttype !== 'inpatient'">
                  </mat-form-field> &nbsp;
                  <button mat-button type="button" (click)="removeinsymptom(k)" [disabled]="data.patienttype !== 'inpatient'" >Remove</button>
              <br>
                </li>
              </ul>
              <button mat-button type="button" (click)="addinsymptom()" [disabled]="data.patienttype !== 'inpatient'">Add Symptom</button>
            </div> 
          </div>  
          <div class="row">
            <div>
              <ul>
                <strong>Press to add Medical Image</strong>
                <li *ngFor="let medical of medicals; let e = index">
                  <div *ngIf="medical.image">
                    <p>File Name: {{ medical.file }}</p>
                  <button mat-button type="button" (click)="removemedical(e)"  [disabled]="data.patienttype !== 'inpatient'">Remove</button>
                </div>
                </li>
              </ul>
              <button mat-button type="button" (click)="addmedical()"  [disabled]="data.patienttype !== 'inpatient'">Add Image</button>
            </div>
          </div>
          <div class="row">
           Diagnosis:
          <mat-form-field appearance="fill">
            <mat-label>Enter the diagnosis:</mat-label>
            <textarea rows="5" cols="10" matInput placeholder="Diagnosis" name="indiagnosis" [(ngModel)]="data.indiagnosis" #indiagnosis="ngModel" required [disabled]="data.patienttype !== 'inpatient'"></textarea>
            <mat-error *ngIf="indiagnosis.invalid && indiagnosis.touched">A diagnosis is required. </mat-error>
          </mat-form-field> &nbsp;
            Treatment plan:
            <mat-form-field appearance="fill">
              <mat-label>Enter the Treatment plan:</mat-label>
              <textarea rows="5" cols="10" matInput placeholder="Treatment plan" name="intreatment" [(ngModel)]="data.intreatment" #intreatment="ngModel" required [disabled]="data.patienttype !== 'inpatient'" class="describe"></textarea>
              <mat-error *ngIf="intreatment.invalid && intreatment.touched">A treatement is required. </mat-error>
            </mat-form-field> &nbsp;

          </div>
          <div class="row" >
            <div>
              <ul>
                <strong>Press to add medicine</strong>
                <li *ngFor="let inquantity of inquantities; let l = index">
                  Medicine:
                  <mat-form-field appearance="fill">
                    <mat-label>Medicine{{l +1}}:</mat-label>
                  <input matInput type="text" [(ngModel)]="inquantity.qty" name="qty{{l}}" [disabled]="data.patienttype !== 'inpatient'">
                  </mat-form-field> &nbsp;
                  Dosage:
                  <mat-form-field appearance="fill">
                    <mat-label>Dosage:</mat-label>
                  <input matInput type="text" [(ngModel)]="inquantity.price" name="price{{l}}" [disabled]="data.patienttype !== 'inpatient'">
                  </mat-form-field> &nbsp;
                  <button mat-button type="button" (click)="removeinQuantity(l)"  [disabled]="data.patienttype !== 'inpatient'">Remove</button>
                  <br>
                </li>
              </ul>
              <button mat-button type="button" (click)="addinQuantity()"  [disabled]="data.patienttype !== 'inpatient'">Add Quantity</button>
            </div> 
          </div>   
          <div class="row">
            Treatment outcome:
            <mat-form-field appearance="fill">
              <mat-label>Enter the Treatment outcome:</mat-label>
              <textarea matInput rows="5" cols="10" matInput placeholder="Treatment outcome" name="inoutcome" [(ngModel)]="data.inoutcome" #inoutcome="ngModel" required [disabled]="data.patienttype !== 'inpatient'" class="describe"></textarea>
              <mat-error *ngIf="inoutcome.invalid && inoutcome.touched">A treatement is required. </mat-error>
            </mat-form-field> &nbsp; 
            <!--need to add medicine -->
          </div>
        </div>
      
      <!-- Outpatient form fields -->
      <div [ngClass]="{'disabled': data.patienttype !== 'outpatient'}">
        <div class="row">
        Consulting doctor ID:
        <mat-form-field appearance="fill">
          <mat-label>Enter doctor ID:</mat-label>
          <input matInput placeholder="Name" name="outdid" [(ngModel)]="data.outdid" #outdid="ngModel" required pattern="[a-zA-Z\s]+" [disabled]="data.patienttype !== 'outpatient'">
          <mat-error *ngIf="outdid.invalid && outdid.touched" >Enter a ID.</mat-error>
        </mat-form-field> &nbsp;
        Consulting doctor name:
        <mat-form-field appearance="fill">
          <mat-label>enter name:</mat-label>
          <input matInput placeholder="Name" name="outname" [(ngModel)]="data.outname" #outname="ngModel" required pattern="[a-zA-Z\s]+" [disabled]="data.patienttype !== 'outpatient'">
          <mat-error *ngIf="outname.invalid && outname.touched">Name can only contain letters and spaces.</mat-error>
        </mat-form-field> &nbsp;
      </div>
        <div class="row">
        Visit date:
          <mat-form-field appearance="fill">
            <mat-label>Admitted on</mat-label>
            <input matInput [matDatepicker]="outvisit" name="outvisit" required [(ngModel)]="data.outvisit" [disabled]="data.patienttype !== 'outpatient'">
            <mat-datepicker-toggle matSuffix [for]="outvisit"></mat-datepicker-toggle>
            <mat-datepicker #outvisit></mat-datepicker>
            <mat-error *ngIf="!data.outvisit">Please enter a valid date of birth.</mat-error>
          </mat-form-field> &nbsp;
          Ward/Department consulting in:
          <mat-form-field appearance="fill">
            <mat-label>Enter department name:</mat-label>
            <input matInput placeholder="Department" name="outdep" [(ngModel)]="data.outdep" #outdep="ngModel" required pattern="[a-zA-Z\s]+" [disabled]="data.patienttype !== 'outpatient'">
            <mat-error *ngIf="outdep.invalid && outdep.touched">Name can only contain letters and spaces.</mat-error>
          </mat-form-field> &nbsp;
          </div>
          <div class="row" >
            <div>
              <ul>
               <strong> Press to add symptoms</strong>
                <li *ngFor="let outsymptom of outsymptoms; let j = index">
                  Symptoms:
                  <mat-form-field appearance="fill">
                    <mat-label>Symptom{{j+1}}:</mat-label>
                  <input matInput type="text" [(ngModel)]="outsymptom.symptom" name="symptom{{j}}" [disabled]="data.patienttype !== 'outpatient'">
                  </mat-form-field> &nbsp;
                  Severity:
                  <mat-form-field appearance="fill">
                    <mat-label>Severity:</mat-label>
                  <input matInput type="text" [(ngModel)]="outsymptom.severity" name="severity{{j}}" [disabled]="data.patienttype !== 'outpatient'">
                  </mat-form-field> &nbsp;
                  <button mat-button type="button" (click)="removeoutsymptom(j)" [disabled]="data.patienttype !== 'outpatient'">Remove</button>
              <br>
                </li>
              </ul>
              <button mat-button type="button" (click)="addoutsymptom()" [disabled]="data.patienttype !== 'outpatient'">Add Symptom</button>
            </div> 
          </div>   
          <div class="row">
            <div>
              <ul>
                <strong>Press to add Medical Image</strong>
                <li *ngFor="let outmedical of outmedicals; let e = index">
                  <div *ngIf="outmedical.image">
                    <p>File Name: {{ outmedical.file }}</p>
                  <button mat-button type="button" (click)="removeoutmedical(e)"  [disabled]="data.patienttype !== 'outpatient'">Remove</button>
                </div>
                </li>
              </ul>
              <button mat-button type="button" (click)="addoutmedical()"  [disabled]="data.patienttype !== 'outpatient'">Add Image</button>
            </div>
          </div> 
          <div class="row">
            Diagnosis:
          <mat-form-field appearance="fill">
            <mat-label>Enter the diagnosis:</mat-label>
            <textarea rows="5" cols="10" matInput placeholder="Diagnosis" name="outdiagnosis" [(ngModel)]="data.outdiagnosis" #outdiagnosis="ngModel" required [disabled]="data.patienttype !== 'outpatient'"></textarea>
            <mat-error *ngIf="outdiagnosis.invalid && outdiagnosis.touched">A diagnosis is required. </mat-error>
          </mat-form-field> &nbsp;
          </div>
      <div class="row" >
        <div>
          <ul>
            <strong>Press to add medicine</strong>
            <li *ngFor="let quantity of quantities; let i = index">
              Medicine:
              <mat-form-field appearance="fill">
                <mat-label>Medicine{{i +1}}:</mat-label>
              <input matInput type="text" [(ngModel)]="quantity.qty" name="qty{{i}}" [disabled]="data.patienttype !== 'outpatient'">
              </mat-form-field> &nbsp;
              Dosage:
              <mat-form-field appearance="fill">
                <mat-label>Dosage:</mat-label>
              <input matInput type="text" [(ngModel)]="quantity.price" name="price{{i}}" [disabled]="data.patienttype !== 'outpatient'">
              </mat-form-field> &nbsp;
              <button mat-button type="button" (click)="removeQuantity(i)">Remove</button>
              <br>
            </li>
          </ul>
          <button mat-button type="button" (click)="addQuantity()">Add Quantity</button>
        </div> 
      </div>   
    </div>  
      <br>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="dataForm.invalid">Save</button>
  </mat-dialog-actions>
</form>
