<h2 mat-dialog-title>Edit patient data</h2>
<form  #dataForm="ngForm">
<div mat-dialog-content>
  <!--personal info-->
  <div class="row">
    Doctor ID:
    <mat-form-field appearance="fill">
      <mat-label>enter doctor ID:</mat-label>
      <input matInput placeholder="Patient ID" name="did" [(ngModel)]="editedData.did" #did="ngModel" required >
      <mat-error *ngIf="did.invalid && did.touched">ID is neseccary.</mat-error>
    </mat-form-field> &nbsp;
     Doctor Name:
      <mat-form-field appearance="fill">
        <mat-label>enter doctor name:</mat-label>
        <input matInput placeholder="Name" name="dname" [(ngModel)]="editedData.dname" #dname="ngModel" required pattern="[a-zA-Z\s]+">
        <mat-error *ngIf="dname.invalid && dname.touched">Name can only contain letters and spaces.</mat-error>
      </mat-form-field> &nbsp;
    </div>
  <div class="row">
  Patient ID:
  <mat-form-field appearance="fill">
    <mat-label>enter patient ID:</mat-label>
    <input matInput placeholder="Patient ID" name="pid" [(ngModel)]="editedData.pid" #pid="ngModel" required >
    <mat-error *ngIf="pid.invalid && pid.touched">ID is neseccary.</mat-error>
  </mat-form-field> &nbsp;
   Patient Name:
    <mat-form-field appearance="fill">
      <mat-label>enter patient name:</mat-label>
      <input matInput placeholder="Name" name="name" [(ngModel)]="editedData.name" #name="ngModel" required pattern="[a-zA-Z\s]+">
      <mat-error *ngIf="name.invalid && name.touched">Name can only contain letters and spaces.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  <div class="row">
    Phone number:
    <mat-form-field appearance="fill">
      <mat-label>Enter the Phone number:</mat-label>
      <input matInput placeholder="Phone no" name="phone" [(ngModel)]="editedData.phone" #phone="ngModel" required pattern="[0-9]{10}">
      <mat-error *ngIf="phone.invalid && phone.touched">Please enter a valid 10-digit phone number.</mat-error>
    </mat-form-field> &nbsp;
    Email:
    <mat-form-field appearance="fill">
      <mat-label>enter email:</mat-label>
      <input matInput placeholder="If no email present leave blank" name="email" [(ngModel)]="editedData.email"  #email="ngModel" email>
      <mat-error *ngIf="email.invalid && email.touched">Please enter a valid email address.</mat-error>
    </mat-form-field> &nbsp;
    </div>
    <div class="row">
    Address:
    <mat-form-field appearance="fill">
      <mat-label>Enter Address:</mat-label>
      <textarea matInput placeholder="Address" name="address" [(ngModel)]="editedData.address" #address="ngModel" required ></textarea>
      <mat-error *ngIf="address.invalid && address.touched">Please enter a address.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  <div class="row">
    D.O.B:
    <mat-form-field appearance="fill">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="dobPicker" name="dob" required [(ngModel)]="editedData.dob">
      <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
      <mat-error *ngIf="!editedData.dob">Please enter a valid date of birth.</mat-error>
    </mat-form-field> &nbsp;
    Age:
    <mat-form-field appearance="fill">
      <mat-label>enter age:</mat-label>
      <input matInput placeholder="Age" name="age" [(ngModel)]="editedData.age" #age="ngModel" required type="number">
      <mat-error *ngIf="age.invalid && age.touched && (age.value > 18 || age.value < 80)">Please enter a valid Age.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  <div class="row">
    Gender:
    <mat-form-field appearance="fill">
      <mat-label>Choose Your gender:</mat-label>
      <mat-select matNativeControl name="gender" [(ngModel)]="editedData.gender"  #gender="ngModel" required>
        <mat-error *ngIf="gender.invalid && gender.touched">Value must be selected.</mat-error>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="trans">Transgender</mat-option>
      </mat-select>
    </mat-form-field>
    Reffered by:
    <mat-form-field appearance="fill">
      <mat-label>Reffered by:</mat-label>
      <textarea matInput placeholder="Reffered" name="reffered" [(ngModel)]="editedData.reffered" #reffered="ngModel" required ></textarea>
      <mat-error *ngIf="reffered.invalid && reffered.touched">Please enter reffered by.</mat-error>
    </mat-form-field> &nbsp;
  </div>
          <div class="row">
          Any previous surgeries:
          <mat-form-field appearance="fill">
            <mat-label>Mention if any surgeries done:</mat-label>
            <input matInput placeholder="enter type of surgery" name="surgery" [(ngModel)]="editedData.surgery" #surgery="ngModel" required >
            <mat-error *ngIf="surgery.invalid && surgery.touched">Please enter data if none type none.</mat-error>
          </mat-form-field> &nbsp;     
          </div>
           
  <!--Additional personal information-->
  <h3>Details</h3>
  <div class="row">
    Date of visit:
    <mat-form-field appearance="fill">
      <mat-label>Date of visit</mat-label>
      <input matInput [matDatepicker]="dobPicker1" name="dov" required [(ngModel)]="editedData.dov">
      <mat-datepicker-toggle matSuffix [for]="dobPicker1"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker1></mat-datepicker>
      <mat-error *ngIf="!editedData.dov">Please enter a valid date of visit.</mat-error>
    </mat-form-field> &nbsp;
    Visit number:
    <mat-form-field appearance="fill">
      <mat-label>enter visit number:</mat-label>
      <input matInput placeholder="visit number" name="vno" [(ngModel)]="editedData.vno" #vno="ngModel" required type="number">
      <mat-error *ngIf="vno.invalid && vno.touched">Please enter a valid Age.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  <div class="row">
      Cough type:
      <mat-form-field appearance="fill">
        <mat-label>Cough type:</mat-label>
        <mat-select matNativeControl name="cough" [(ngModel)]="editedData.cough"  #cough="ngModel" required>
          <mat-error *ngIf="cough.invalid && cough.touched">Value must be selected.</mat-error>
          <mat-option value="dry">dry</mat-option>
          <mat-option value="productive">productive</mat-option>
        </mat-select>
      </mat-form-field>
      Remarks:
    <mat-form-field appearance="fill">
      <mat-label>Remarks:</mat-label>
      <textarea matInput placeholder="Remarks" name="coughremarks" [(ngModel)]="editedData.coughremarks" #coughremarks="ngModel" required ></textarea>
      <mat-error *ngIf="coughremarks.invalid && coughremarks.touched">Enter a remark.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  <div class="row">
    Cough frequency:
     <mat-form-field appearance="fill">
       <mat-label>Cough frequency:</mat-label>
       <input matInput placeholder="frequency of cough" name="coughno" [(ngModel)]="editedData.coughno" #coughno="ngModel" required type="number">
       <mat-error *ngIf="coughno.invalid && coughno.touched">Please enter a valid Age.</mat-error>
     </mat-form-field> &nbsp;
   </div>
  <div class="row">
    Breathlessness:
    <mat-form-field appearance="fill">
      <mat-label>Breathlessness:</mat-label>
      <mat-select matNativeControl name="breath" [(ngModel)]="editedData.breath"  #breath="ngModel" required>
        <mat-error *ngIf="breath.invalid && breath.touched">Value must be selected.</mat-error>
        <mat-option value="GRADE I">GRADE I</mat-option>
        <mat-option value="GRADE II">GRADE II</mat-option>
        <mat-option value="GRADE III">GRADE III</mat-option>
        <mat-option value="GRADE IV">GRADE IV</mat-option>
      </mat-select>
    </mat-form-field>
    Remarks:
  <mat-form-field appearance="fill">
    <mat-label>Remarks:</mat-label>
    <textarea matInput placeholder="Remarks" name="breathremarks" [(ngModel)]="editedData.breathremarks" #breathremarks="ngModel" required ></textarea>
    <mat-error *ngIf="breathremarks.invalid && breathremarks.touched">Enter a remark.</mat-error>
  </mat-form-field> &nbsp;
</div>
<div class="row">
  Sputum:
  <mat-form-field appearance="fill">
    <mat-label>Sputum:</mat-label>
    <mat-select matNativeControl name="sputum" [(ngModel)]="editedData.sputum"  #sputum="ngModel" required>
      <mat-error *ngIf="sputum.invalid && sputum.touched">Value must be selected.</mat-error>
      <mat-option value="minimal">minimal</mat-option>
      <mat-option value="copious">copious</mat-option>
    </mat-select>
  </mat-form-field>
  Remarks:
  <mat-form-field appearance="fill" >
    <mat-label>Remarks:</mat-label>
    <mat-select matNativeControl name="sputumremarks" [(ngModel)]="editedData.sputumremarks" #sputumremarks="ngModel" required >
    <mat-error *ngIf="sputumremarks.invalid && sputumremarks.touched">Enter a remark.</mat-error>
    <mat-option value="Less than 10 ml">Less than 10 ml</mat-option>
    <mat-option value="More than 10 ml and Less than 50 ml">More than 10 ml and Less than 50 ml</mat-option>
    <mat-option value="More than 50 ml and Less than 100 ml">More than 50 ml and Less than 100 ml</mat-option>
    <mat-option value="More than 100 ml">More than 100 ml</mat-option>
  </mat-select> &nbsp;
</mat-form-field>
</div>
<div class="row">
Hemoptysis:
<mat-form-field appearance="fill">
  <mat-label>Hemoptysis:</mat-label>
  <mat-select matNativeControl name="hemoptysis" [(ngModel)]="editedData.hemoptysis"  #hemoptysis="ngModel" required>
    <mat-error *ngIf="hemoptysis.invalid && hemoptysis.touched">Value must be selected.</mat-error>
    <mat-option value="mild">mild</mat-option>
    <mat-option value="moderate">moderate</mat-option>
    <mat-option value="severe">severe</mat-option>
    <mat-option value="massive">massive</mat-option>
  </mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill">
<mat-label>Remarks:</mat-label>
<textarea matInput placeholder="Remarks" name="hemoremarks" [(ngModel)]="editedData.hemoremarks" #hemoremarks="ngModel" required ></textarea>
<mat-error *ngIf="hemoremarks.invalid && hemoremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
Chest pain:
<mat-form-field appearance="fill">
  <mat-label>Chest pain:</mat-label>
  <mat-select matNativeControl name="chestpain" [(ngModel)]="editedData.chestpain"  #chestpain="ngModel" required>
    <mat-error *ngIf="chestpain.invalid && chestpain.touched">Value must be selected.</mat-error>
    <mat-option value="yes">yes</mat-option>
    <mat-option value="no">no</mat-option>
  </mat-select>
</mat-form-field>
Remarks:
<div *ngIf="editedData.chestpain === 'yes'">
<mat-form-field appearance="fill" >
  <mat-label>Remarks:</mat-label>
  <mat-select matNativeControl name="chestremarks" [(ngModel)]="editedData.chestremarks" #chestremarks="ngModel" required >
  <mat-error *ngIf="chestremarks.invalid && chestremarks.touched">Enter a remark.</mat-error>
  <mat-option value="pleuretic">pleuretic</mat-option>
  <mat-option value="non pleuretic">non pleuretic</mat-option>
  </mat-select>
</mat-form-field> &nbsp;
</div>
</div>
<div class="row">
Fever:
  <mat-form-field appearance="fill">
    <mat-label>Fever:</mat-label>
    <mat-select matNativeControl name="fever" [(ngModel)]="editedData.fever"  #fever="ngModel" required>
      <mat-error *ngIf="fever.invalid && fever.touched">Value must be selected.</mat-error>
      <mat-option value="yes">yes</mat-option>
      <mat-option value="no">no</mat-option>
    </mat-select>
  </mat-form-field>
  Remarks:
<mat-form-field appearance="fill">
  <mat-label>Remarks:</mat-label>
  <textarea matInput placeholder="Remarks" name="feverremarks" [(ngModel)]="editedData.feverremarks" #feverremarks="ngModel" required ></textarea>
  <mat-error *ngIf="feverremarks.invalid && feverremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
  Wheeze:
    <mat-form-field appearance="fill">
      <mat-label>Wheeze:</mat-label>
      <mat-select matNativeControl name="wheeze" [(ngModel)]="editedData.wheeze"  #wheeze="ngModel" required>
        <mat-error *ngIf="wheeze.invalid && wheeze.touched">Value must be selected.</mat-error>
        <mat-option value="seasonal">Seasonal</mat-option>
        <mat-option value="familial">Familial</mat-option>
        <mat-option value="nocturnal">Nocturnal</mat-option>
      </mat-select>
    </mat-form-field>
    Remarks:
  <mat-form-field appearance="fill">
    <mat-label>Remarks:</mat-label>
    <textarea matInput placeholder="Remarks" name="wheezeremarks" [(ngModel)]="editedData.wheezeremarks" #wheezeremarks="ngModel" required ></textarea>
    <mat-error *ngIf="wheezeremarks.invalid && wheezeremarks.touched">Enter a remark.</mat-error>
  </mat-form-field> &nbsp;
  </div>
<div class="row">
    Allergy:
      <mat-form-field appearance="fill">
        <mat-label>Allergy:</mat-label>
        <mat-select matNativeControl name="allergy" [(ngModel)]="editedData.allergy"  #allergy="ngModel" required>
          <mat-error *ngIf="allergy.invalid && allergy.touched">Value must be selected.</mat-error>
          <mat-option value="sneeze">Sneeze</mat-option>
          <mat-option value="running nose">Running nose</mat-option>
        </mat-select>
      </mat-form-field>
      Remarks:
    <mat-form-field appearance="fill">
      <mat-label>Remarks:</mat-label>
      <textarea matInput placeholder="Remarks" name="allergyremarks" [(ngModel)]="editedData.allergyremarks" #allergyremarks="ngModel" required ></textarea>
      <mat-error *ngIf="allergyremarks.invalid && allergyremarks.touched">Enter a remark.</mat-error>
    </mat-form-field> &nbsp;
    </div>
    <h3>measures</h3>
    <div class="row">
    Loss of weight/appetite:
    <mat-form-field appearance="fill">
      <mat-label>enter how much weight lost:</mat-label>
      <input matInput placeholder="lost weight" name="lweight" [(ngModel)]="editedData.lweight" #lweight="ngModel" required type="number">
      <mat-error *ngIf="lweight.invalid && lweight.touched">Please enter a valid Age.</mat-error>
    </mat-form-field> &nbsp;
    Current weight:
    <mat-form-field appearance="fill">
      <mat-label>Current weight:</mat-label>
      <input matInput placeholder="weight" name="weight" [(ngModel)]="editedData.weight" #weight="ngModel" required type="number">
      <mat-error *ngIf="weight.invalid && weight.touched">Please enter a valid Age.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  <div class="row">
    Height:
    <mat-form-field appearance="fill">
      <mat-label>Height:</mat-label>
      <input matInput placeholder="height" name="height" [(ngModel)]="editedData.height" #height="ngModel" required type="number">
      <mat-error *ngIf="height.invalid && height.touched">Please enter a valid height.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  <div class="row">
    Temperature:
    <mat-form-field appearance="fill">
      <mat-label>Temperature:</mat-label>
      <input matInput placeholder="temperature" name="temp" [(ngModel)]="editedData.temp" #temp="ngModel" required type="number">
      <mat-error *ngIf="temp.invalid && temp.touched">Please enter a valid temperature.</mat-error>
    </mat-form-field> &nbsp;
    PR:
    <mat-form-field appearance="fill">
      <mat-label>PR:</mat-label>
      <input matInput placeholder="pr" name="pr" [(ngModel)]="editedData.pr" #pr="ngModel" required type="number">
      <mat-error *ngIf="pr.invalid && pr.touched">Please enter a valid PR value.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  <div class="row">
    BP:
    <mat-form-field appearance="fill">
      <mat-label>BP:</mat-label>
      <input matInput placeholder="bp" name="bp" [(ngModel)]="editedData.bp" #bp="ngModel" required >
      <mat-error *ngIf="bp.invalid && bp.touched">Please enter a valid BP value.</mat-error>
    </mat-form-field> &nbsp;
    SPO2:
    <mat-form-field appearance="fill">
      <mat-label>SPO2:</mat-label>
      <input matInput placeholder="spo2" name="spo" [(ngModel)]="editedData.spo" #spo="ngModel" required type="number">
      <mat-error *ngIf="spo.invalid && spo.touched">Please enter a valid SPO2 value.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  <h3>habits</h3>
  <div class="row">
  DM:
  <mat-form-field appearance="fill">
    <mat-label>DM:</mat-label>
    <mat-select matNativeControl name="dm" [(ngModel)]="editedData.dm"  #dm="ngModel" required>
      <mat-error *ngIf="dm.invalid && dm.touched">Value must be selected.</mat-error>
      <mat-option value="yes">yes</mat-option>
      <mat-option value="no">no</mat-option>
    </mat-select>
  </mat-form-field>
  SHT:
  <mat-form-field appearance="fill">
    <mat-label>SHT:</mat-label>
    <mat-select matNativeControl name="sht" [(ngModel)]="editedData.sht"  #sht="ngModel" required>
      <mat-error *ngIf="sht.invalid && sht.touched">Value must be selected.</mat-error>
      <mat-option value="yes">yes</mat-option>
      <mat-option value="no">no</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="row">
  Do you smoke?:
  <mat-form-field appearance="fill">
    <mat-label>Do you smoke?:</mat-label>
    <mat-select matNativeControl name="smoke" [(ngModel)]="editedData.smoke"  #smoke="ngModel" required>
      <mat-error *ngIf="smoke.invalid && smoke.touched">Value must be selected.</mat-error>
      <mat-option value="yes">yes</mat-option>
      <mat-option value="no">no</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div class="row" *ngIf="editedData.smoke === 'yes'">
    Number of cigarettes smoked per day:
    <mat-form-field appearance="fill">
  <mat-label>Number of cigarettes smoked per day:</mat-label>
  <input matInput type="number" name="numberofcig" [(ngModel)]="editedData.numberofcig">
    </mat-form-field>
    Number of Years smoked:
    <mat-form-field appearance="fill">
      <mat-label>Number of Years smoked:</mat-label>
      <input matInput type="number" name="numbersmoke" [(ngModel)]="editedData.numbersmoke">
    </mat-form-field>
  </div>
<div class="row">
  Do you Drink?:
  <mat-form-field appearance="fill">
    <mat-label>Do you Drink?:</mat-label>
    <mat-select matNativeControl name="drink" [(ngModel)]="editedData.drink"  #drink="ngModel" required>
      <mat-error *ngIf="drink.invalid && drink.touched">Value must be selected.</mat-error>
      <mat-option value="yes">yes</mat-option>
      <mat-option value="no">no</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row" *ngIf="editedData.drink === 'yes'">
    Frequency of drinks per week:
    <mat-form-field appearance="fill">
  <mat-label>Frequency of drinks per week:</mat-label>
  <input matInput type="number" name="numberofdrink" [(ngModel)]="editedData.numberofdrink">
    </mat-form-field>
  </div>
  <div class="row">
    T2 DM:
      <mat-form-field appearance="fill">
        <mat-label>T2 DM:</mat-label>
        <mat-select matNativeControl name="t2dm" [(ngModel)]="editedData.t2dm"  #t2dm="ngModel" required>
          <mat-error *ngIf="t2dm.invalid && t2dm.touched">Value must be selected.</mat-error>
          <mat-option value="yes">yes</mat-option>
          <mat-option value="no">no</mat-option>
        </mat-select>
      </mat-form-field>
        SHD:
        <mat-form-field appearance="fill">
          <mat-label>SHD:</mat-label>
          <mat-select matNativeControl name="shd" [(ngModel)]="editedData.shd"  #shd="ngModel" required>
            <mat-error *ngIf="shd.invalid && shd.touched">Value must be selected.</mat-error>
            <mat-option value="yes">yes</mat-option>
            <mat-option value="no">no</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <div class="row">
    CAD:
      <mat-form-field appearance="fill">
        <mat-label>CAD:</mat-label>
        <mat-select matNativeControl name="cad" [(ngModel)]="editedData.cad"  #cad="ngModel" required>
          <mat-error *ngIf="cad.invalid && cad.touched">Value must be selected.</mat-error>
          <mat-option value="yes">yes</mat-option>
          <mat-option value="no">no</mat-option>
        </mat-select>
      </mat-form-field>
        CVA:
        <mat-form-field appearance="fill">
          <mat-label>CVA:</mat-label>
          <mat-select matNativeControl name="cva" [(ngModel)]="editedData.cva"  #cva="ngModel" required>
            <mat-error *ngIf="cva.invalid && cva.touched">Value must be selected.</mat-error>
            <mat-option value="yes">yes</mat-option>
            <mat-option value="no">no</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <div class="row">
    Seizure Disorder:
      <mat-form-field appearance="fill">
        <mat-label>seizure:</mat-label>
        <mat-select matNativeControl name="seizure" [(ngModel)]="editedData.seizure"  #seizure="ngModel" required>
          <mat-error *ngIf="seizure.invalid && seizure.touched">Value must be selected.</mat-error>
          <mat-option value="yes">yes</mat-option>
          <mat-option value="no">no</mat-option>
        </mat-select>
        </mat-form-field>
        Any previous surgeries:
    <mat-form-field appearance="fill">
      <mat-label>Mention if any surgeries done:</mat-label>
      <input matInput placeholder="enter type of surgery" name="surgery" [(ngModel)]="editedData.surgery" #surgery="ngModel" required >
      <mat-error *ngIf="surgery.invalid && surgery.touched">Please enter data if none type none.</mat-error>
    </mat-form-field> &nbsp;
  </div>
  H/O ATT:
  <mat-form-field appearance="fill">
    <mat-label>H/O ATT:</mat-label>
    <mat-select matNativeControl name="att" [(ngModel)]="editedData.att"  #att="ngModel" required>
      <mat-error *ngIf="att.invalid && att.touched">Value must be selected.</mat-error>
      <mat-option value="yes">yes</mat-option>
      <mat-option value="no">no</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="row" *ngIf="editedData.att === 'yes'">
  Name of Medicines:
  <mat-form-field appearance="fill">
<mat-label>Name of Medicines:</mat-label>
<textarea matInput rows="4" name="namemedicines" [(ngModel)]="editedData.namemedicines"></textarea>
  </mat-form-field>
  Number of Years:
  <mat-form-field appearance="fill">
    <mat-label>Number of Years:</mat-label>
    <input matInput type="number" name="numberofyears" [(ngModel)]="editedData.numberofyears">
  </mat-form-field>
</div>
<div class="row" >
  Sputum AFB Test:
  <mat-form-field appearance="fill">
<mat-label>Sputum AFB Test:</mat-label>
<mat-select matNativeControl name="safb" [(ngModel)]="editedData.safb"  #safb="ngModel" required>
  <mat-error *ngIf="safb.invalid && safb.touched">Value must be selected.</mat-error>
  <mat-option value="Positive">Positive</mat-option>
  <mat-option value="Negative">Negative</mat-option>
</mat-select>
  </mat-form-field>
  AFB Cells:
  <mat-form-field appearance="fill">
    <mat-label>AFB Cells:</mat-label>
    <mat-select matNativeControl name="afb" [(ngModel)]="editedData.afb"  #afb="ngModel" required>
    <mat-option value="Detected">detected</mat-option>
    <mat-option value="Not detected">detected</mat-option>
    </mat-select>
    </mat-form-field>
</div>
<div class="row">
 LPA Test:
  <mat-form-field appearance="fill">
    <mat-label>LPA Test:</mat-label>
    <mat-select matNativeControl name="lpa" [(ngModel)]="editedData.lpa"  #lpa="ngModel" required>
    <mat-option value="Present">Present</mat-option>
    <mat-option value="Absent">Absent</mat-option>
    </mat-select>
    </mat-form-field>
</div>

<h3>Symptoms</h3>
<div class="row">
  Anemia:
  <mat-form-field appearance="fill">
    <mat-label>Anemia:</mat-label>
    <mat-select matNativeControl name="anemia" [(ngModel)]="editedData.anemia"  #anemia="ngModel" required>
      <mat-error *ngIf="anemia.invalid && anemia.touched">Value must be selected.</mat-error>
      <mat-option value="yes">yes</mat-option>
      <mat-option value="no">no</mat-option>
    </mat-select>
  </mat-form-field>
  Remarks:
  <mat-form-field appearance="fill">
    <mat-label>Remarks:</mat-label>
    <textarea matInput placeholder="Remarks" name="anemiaremarks" [(ngModel)]="editedData.anemiaremarks" #anemiaremarks="ngModel" required ></textarea>
    <mat-error *ngIf="anemiaremarks.invalid && anemiaremarks.touched">Enter a remark.</mat-error>
  </mat-form-field> &nbsp;
  </div>
<div class="row">
  Cyanosis:
  <mat-form-field appearance="fill">
    <mat-label>Cyanosis:</mat-label>
    <mat-select matNativeControl name="cyan" [(ngModel)]="editedData.cyan"  #cyan="ngModel" required>
      <mat-error *ngIf="cyan.invalid && cyan.touched">Value must be selected.</mat-error>
      <mat-option value="yes">yes</mat-option>
      <mat-option value="no">no</mat-option>
    </mat-select>
  </mat-form-field>
  Remarks:
  <mat-form-field appearance="fill">
    <mat-label>Remarks:</mat-label>
    <textarea matInput placeholder="Remarks" name="cyanremarks" [(ngModel)]="editedData.cyanremarks" #cyanremarks="ngModel" required ></textarea>
    <mat-error *ngIf="cyanremarks.invalid && cyanremarks.touched">Enter a remark.</mat-error>
  </mat-form-field> &nbsp;
  </div>
  <div class="row">
    Clubbing:
    <mat-form-field appearance="fill">
      <mat-label>Clubbing:</mat-label>
      <mat-select matNativeControl name="club" [(ngModel)]="editedData.club"  #club="ngModel" required>
        <mat-error *ngIf="club.invalid && club.touched">Value must be selected.</mat-error>
        <mat-option value="yes">yes</mat-option>
        <mat-option value="no">no</mat-option>
      </mat-select>
    </mat-form-field>
    Remarks:
    <mat-form-field appearance="fill">
      <mat-label>Remarks:</mat-label>
      <textarea matInput placeholder="Remarks" name="clubremarks" [(ngModel)]="editedData.clubremarks" #clubremarks="ngModel" required ></textarea>
      <mat-error *ngIf="clubremarks.invalid && clubremarks.touched">Enter a remark.</mat-error>
    </mat-form-field> &nbsp;
    </div>
    <div class="row">
      Lymphadenopathy:
      <mat-form-field appearance="fill">
        <mat-label>Lymphadenopathy:</mat-label>
        <mat-select matNativeControl name="lymph" [(ngModel)]="editedData.lymph"  #lymph="ngModel" required>
          <mat-error *ngIf="lymph.invalid && lymph.touched">Value must be selected.</mat-error>
          <mat-option value="yes">yes</mat-option>
          <mat-option value="no">no</mat-option>
        </mat-select>
      </mat-form-field>
      Remarks:
      <mat-form-field appearance="fill">
        <mat-label>Remarks:</mat-label>
        <textarea matInput placeholder="Remarks" name="lymphremarks" [(ngModel)]="editedData.lymphremarks" #lymphremarks="ngModel" required ></textarea>
        <mat-error *ngIf="lymphremarks.invalid && lymphremarks.touched">Enter a remark.</mat-error>
      </mat-form-field> &nbsp;
      </div>
      <div class="row">
        Edema:
        <mat-form-field appearance="fill">
          <mat-label>Edema:</mat-label>
          <mat-select matNativeControl name="edema" [(ngModel)]="editedData.edema"  #edema="ngModel" required>
            <mat-error *ngIf="edema.invalid && edema.touched">Value must be selected.</mat-error>
            <mat-option value="yes">yes</mat-option>
            <mat-option value="no">no</mat-option>
          </mat-select>
        </mat-form-field>
      Remarks:
        <mat-form-field appearance="fill">
          <mat-label>Remarks:</mat-label>
          <textarea matInput placeholder="Remarks" name="edemaremarks" [(ngModel)]="editedData.edemaremarks" #edemaremarks="ngModel" required ></textarea>
          <mat-error *ngIf="edemaremarks.invalid && edemaremarks.touched">Enter a remark.</mat-error>
        </mat-form-field> &nbsp;
        </div>
        <div class="row">
          Icterus:
          <mat-form-field appearance="fill">
            <mat-label>Icterus:</mat-label>
            <mat-select matNativeControl name="icterus" [(ngModel)]="editedData.icterus"  #icterus="ngModel" required>
              <mat-error *ngIf="icterus.invalid && icterus.touched">Value must be selected.</mat-error>
              <mat-option value="yes">yes</mat-option>
              <mat-option value="no">no</mat-option>
            </mat-select>
          </mat-form-field>
          Remarks:
          <mat-form-field appearance="fill">
            <mat-label>Remarks:</mat-label>
            <textarea matInput placeholder="Remarks" name="ictremarks" [(ngModel)]="editedData.ictremarks" #ictremarks="ngModel" required ></textarea>
            <mat-error *ngIf="ictremarks.invalid && ictremarks.touched">Enter a remark.</mat-error>
          </mat-form-field> &nbsp;
          </div>
          <div class="row">
            JVP:
            <mat-form-field appearance="fill">
              <mat-label>JVP:</mat-label>
              <mat-select matNativeControl name="jvp" [(ngModel)]="editedData.jvp"  #jvp="ngModel" required>
                <mat-error *ngIf="jvp.invalid && jvp.touched">Value must be selected.</mat-error>
                <mat-option value="yes">yes</mat-option>
                <mat-option value="no">no</mat-option>
              </mat-select>
            </mat-form-field>
            Remarks:
            <mat-form-field appearance="fill">
              <mat-label>Remarks:</mat-label>
              <textarea matInput placeholder="Remarks" name="jvpremarks" [(ngModel)]="editedData.jvpremarks" #jvpremarks="ngModel" required ></textarea>
              <mat-error *ngIf="jvpremarks.invalid && jvpremarks.touched">Enter a remark.</mat-error>
            </mat-form-field> &nbsp;
            </div>
<h3>medic terms</h3>
<div class="row">
CVS:
<mat-form-field appearance="fill">
  <mat-label>CVS:</mat-label>
  <mat-select matNativeControl name="cvs" [(ngModel)]="editedData.cvs"  #cvs="ngModel" required>
    <mat-error *ngIf="cvs.invalid && cvs.touched">Value must be selected.</mat-error>
    <mat-option value="normal">Normal</mat-option>
    <mat-option value="abnormal">Abnormal</mat-option>
  </mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill">
  <mat-label>Remarks:</mat-label>
  <textarea matInput placeholder="Remarks" name="cvsremarks" [(ngModel)]="editedData.cvsremarks" #cvsremarks="ngModel" required ></textarea>
  <mat-error *ngIf="cvsremarks.invalid && cvsremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
  PEFR:
  <mat-form-field appearance="fill">
    <mat-label>PEFR:</mat-label>
    <mat-select matNativeControl name="pefr" [(ngModel)]="editedData.pefr"  #pefr="ngModel" required>
      <mat-error *ngIf="pefr.invalid && pefr.touched">Value must be selected.</mat-error>
      <mat-option value="normal">Normal</mat-option>
      <mat-option value="abnormal">Abnormal</mat-option>
    </mat-select>
  </mat-form-field>
  Remarks:
  <mat-form-field appearance="fill">
    <mat-label>Remarks:</mat-label>
    <textarea matInput placeholder="Remarks" name="pefrremarks" [(ngModel)]="editedData.pefrremarks" #pefrremarks="ngModel" required ></textarea>
    <mat-error *ngIf="pefrremarks.invalid && pefrremarks.touched">Enter a remark.</mat-error>
  </mat-form-field> &nbsp;
  </div>
<div class="row">
RS(left):
<mat-form-field appearance="fill">
<mat-label>RS(left):</mat-label>
<mat-select matNativeControl name="rsleft" [(ngModel)]="editedData.rsleft"  #rsleft="ngModel" required>
  <mat-error *ngIf="rsleft.invalid && rsleft.touched">Value must be selected.</mat-error>
  <mat-option value="normal">Normal</mat-option>
  <mat-option value="abnormal">Abnormal</mat-option>
</mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill">
<mat-label>Remarks:</mat-label>
<textarea matInput placeholder="Remarks" name="rsleftremarks" [(ngModel)]="editedData.rsleftremarks" #rsleftremarks="ngModel" required ></textarea>
<mat-error *ngIf="rsleftremarks.invalid && rsleftremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
RS(right):
<mat-form-field appearance="fill">
<mat-label>RS(right):</mat-label>
<mat-select matNativeControl name="rsright" [(ngModel)]="editedData.rsright"  #rsright="ngModel" required>
  <mat-error *ngIf="rsright.invalid && rsright.touched">Value must be selected.</mat-error>
  <mat-option value="normal">Normal</mat-option>
  <mat-option value="abnormal">Abnormal</mat-option>
</mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill">
<mat-label>Remarks:</mat-label>
<textarea matInput placeholder="Remarks" name="rsrightremarks" [(ngModel)]="editedData.rsrightremarks" #rsrightremarks="ngModel" required ></textarea>
<mat-error *ngIf="rsrightremarks.invalid && rsrightremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
P/A:
<mat-form-field appearance="fill">
  <mat-label>P/A:</mat-label>
  <mat-select matNativeControl name="pa" [(ngModel)]="editedData.pa"  #pa="ngModel" required>
    <mat-error *ngIf="pa.invalid && pa.touched">Value must be selected.</mat-error>
    <mat-option value="normal">Normal</mat-option>
    <mat-option value="abnormal">Abnormal</mat-option>
  </mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill">
  <mat-label>Remarks:</mat-label>
  <textarea matInput placeholder="Remarks" name="paremarks" [(ngModel)]="editedData.paremarks" #paremarks="ngModel" required ></textarea>
  <mat-error *ngIf="paremarks.invalid && paremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
CNS:
<mat-form-field appearance="fill">
<mat-label>CNS:</mat-label>
<mat-select matNativeControl name="cns" [(ngModel)]="editedData.cns"  #cns="ngModel" required>
  <mat-error *ngIf="cns.invalid && cns.touched">Value must be selected.</mat-error>
  <mat-option value="normal">Normal</mat-option>
  <mat-option value="abnormal">Abnormal</mat-option>
</mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill">
<mat-label>Remarks:</mat-label>
<textarea matInput placeholder="Remarks" name="cnsremarks" [(ngModel)]="editedData.cnsremarks" #cnsremarks="ngModel" required ></textarea>
<mat-error *ngIf="cnsremarks.invalid && cnsremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
CT THORAX:
<mat-form-field appearance="fill">
  <mat-label>CT THORAX:</mat-label>
  <mat-select matNativeControl name="ct" [(ngModel)]="editedData.ct"  #ct="ngModel" required>
    <mat-error *ngIf="ct.invalid && ct.touched">Value must be selected.</mat-error>
    <mat-option value="mild">mild</mat-option>
    <mat-option value="medium">medium</mat-option>
    <mat-option value="heavy">heavy</mat-option>
  </mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill">
  <mat-label>Remarks:</mat-label>
  <textarea matInput placeholder="Remarks" name="ctremarks" [(ngModel)]="editedData.ctremarks" #ctremarks="ngModel" required ></textarea>
  <mat-error *ngIf="ctremarks.invalid && ctremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<h3>CT Analysis</h3>
<div class="row">
<mat-form-field appearance="fill">
  <mat-label>RIGHT UPPER LOBE:</mat-label>
  <mat-select matNativeControl name="ctru" [(ngModel)]="editedData.ctru"  #ctru="ngModel" required>
    <mat-error *ngIf="ctru.invalid && ctru.touched">Value must be selected.</mat-error>
    <mat-option value="mild">Mild</mat-option>
    <mat-option value="medium">Moderate</mat-option>
    <mat-option value="heavy">Severe</mat-option>
  </mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill" class="custom-mat-form-field">
  <mat-label>Remarks:</mat-label>
  <textarea matInput rows="4" placeholder="Remarks" name="ctruremarks" [(ngModel)]="editedData.ctruremarks" #ctruremarks="ngModel" required ></textarea>
  <mat-error *ngIf="ctruremarks.invalid && ctruremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>RIGHT MIDDLE LOBE:</mat-label>
    <mat-select matNativeControl name="ctrm" [(ngModel)]="editedData.ctrm"  #ctrm="ngModel" required>
      <mat-error *ngIf="ctrm.invalid && ctrm.touched">Value must be selected.</mat-error>
      <mat-option value="mild">Mild</mat-option>
      <mat-option value="medium">Moderate</mat-option>
      <mat-option value="heavy">Severe</mat-option>
    </mat-select>
  </mat-form-field>
  Remarks:
  <mat-form-field appearance="fill" class="custom-mat-form-field">
    <mat-label>Remarks:</mat-label>
    <textarea matInput rows="4" placeholder="Remarks" name="ctrmremarks" [(ngModel)]="editedData.ctrmremarks" #ctrmremarks="ngModel" required ></textarea>
    <mat-error *ngIf="ctrmremarks.invalid && ctrmremarks.touched">Enter a remark.</mat-error>
  </mat-form-field> &nbsp;
  </div>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>RIGHT LOWER LOBE:</mat-label>
      <mat-select matNativeControl name="ctrl" [(ngModel)]="editedData.ctrl"  #ctrl="ngModel" required>
        <mat-error *ngIf="ctrl.invalid && ctrl.touched">Value must be selected.</mat-error>
        <mat-option value="mild">Mild</mat-option>
        <mat-option value="medium">Moderate</mat-option>
        <mat-option value="heavy">Severe</mat-option>
      </mat-select>
    </mat-form-field>
    Remarks:
    <mat-form-field appearance="fill" class="custom-mat-form-field">
      <mat-label>Remarks:</mat-label>
      <textarea matInput rows="4" placeholder="Remarks" name="ctrlremarks" [(ngModel)]="editedData.ctrlremarks" #ctrlremarks="ngModel" required ></textarea>
      <mat-error *ngIf="ctrlremarks.invalid && ctrlremarks.touched">Enter a remark.</mat-error>
    </mat-form-field> &nbsp;
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>LEFT UPPER LOBE:</mat-label>
        <mat-select matNativeControl name="ctlu" [(ngModel)]="editedData.ctlu"  #ctlu="ngModel" required>
          <mat-error *ngIf="ctlu.invalid && ctlu.touched">Value must be selected.</mat-error>
          <mat-option value="mild">Mild</mat-option>
          <mat-option value="medium">Moderate</mat-option>
          <mat-option value="heavy">Severe</mat-option>
        </mat-select>
      </mat-form-field>
      Remarks:
      <mat-form-field appearance="fill" class="custom-mat-form-field">
        <mat-label>Remarks:</mat-label>
        <textarea matInput rows="4" placeholder="Remarks" name="ctluremarks" [(ngModel)]="editedData.ctluremarks" #ctluremarks="ngModel" required ></textarea>
        <mat-error *ngIf="ctluremarks.invalid && ctluremarks.touched">Enter a remark.</mat-error>
      </mat-form-field> &nbsp;
      </div>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>LEFT LINGULAR LOBE:</mat-label>
          <mat-select matNativeControl name="ctlm" [(ngModel)]="editedData.ctlm"  #ctlm="ngModel" required>
            <mat-error *ngIf="ctlm.invalid && ctlm.touched">Value must be selected.</mat-error>
            <mat-option value="mild">Mild</mat-option>
            <mat-option value="medium">Moderate</mat-option>
            <mat-option value="heavy">Severe</mat-option>
          </mat-select>
        </mat-form-field>
        Remarks:
        <mat-form-field appearance="fill" class="custom-mat-form-field">
          <mat-label>Remarks:</mat-label>
          <textarea matInput rows="4" placeholder="Remarks" name="ctlmremarks" [(ngModel)]="editedData.ctlmremarks" #ctlmremarks="ngModel" required ></textarea>
          <mat-error *ngIf="ctlmremarks.invalid && ctlmremarks.touched">Enter a remark.</mat-error>
        </mat-form-field> &nbsp;
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>LEFT LOWER LOBE:</mat-label>
            <mat-select matNativeControl name="ctll" [(ngModel)]="editedData.ctll"  #ctll="ngModel" required>
              <mat-error *ngIf="ctll.invalid && ctll.touched">Value must be selected.</mat-error>
              <mat-option value="mild">Mild</mat-option>
              <mat-option value="medium">Moderate</mat-option>
              <mat-option value="heavy">Severe</mat-option>
            </mat-select>
          </mat-form-field>
          Remarks:
          <mat-form-field appearance="fill" class="custom-mat-form-field">
            <mat-label>Remarks:</mat-label>
            <textarea matInput rows="4" placeholder="Remarks" name="ctllremarks" [(ngModel)]="editedData.ctllremarks" #ctllremarks="ngModel" required ></textarea>
            <mat-error *ngIf="ctllremarks.invalid && ctllremarks.touched">Enter a remark.</mat-error>
          </mat-form-field> &nbsp;
          </div><br>
<h3>XRAY Analysis</h3>
<div class="row">
<mat-form-field appearance="fill">
<mat-label>RIGHT UPPER LOBE:</mat-label>
<mat-select matNativeControl name="xctru" [(ngModel)]="editedData.xctru"  #xctru="ngModel" required>
<mat-error *ngIf="xctru.invalid && xctru.touched">Value must be selected.</mat-error>
<mat-option value="mild">Mild</mat-option>
<mat-option value="medium">Moderate</mat-option>
<mat-option value="heavy">Severe</mat-option>
</mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill" class="custom-mat-form-field">
<mat-label>Remarks:</mat-label>
<textarea matInput rows="4" placeholder="Remarks" name="xctruremarks" [(ngModel)]="editedData.xctruremarks" #xctruremarks="ngModel" required ></textarea>
<mat-error *ngIf="xctruremarks.invalid && xctruremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
<mat-form-field appearance="fill">
<mat-label>RIGHT MIDDLE LOBE:</mat-label>
<mat-select matNativeControl name="xctrm" [(ngModel)]="editedData.xctrm"  #xctrm="ngModel" required>
<mat-error *ngIf="xctrm.invalid && xctrm.touched">Value must be selected.</mat-error>
<mat-option value="mild">Mild</mat-option>
<mat-option value="medium">Moderate</mat-option>
<mat-option value="heavy">Severe</mat-option>
</mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill" class="custom-mat-form-field">
<mat-label>Remarks:</mat-label>
<textarea matInput rows="4" placeholder="Remarks" name="xctrmremarks" [(ngModel)]="editedData.xctrmremarks" #xctrmremarks="ngModel" required ></textarea>
<mat-error *ngIf="xctrmremarks.invalid && xctrmremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
<mat-form-field appearance="fill">
<mat-label>RIGHT LOWER LOBE:</mat-label>
<mat-select matNativeControl name="xctrl" [(ngModel)]="editedData.xctrl"  #xctrl="ngModel" required>
  <mat-error *ngIf="xctrl.invalid && xctrl.touched">Value must be selected.</mat-error>
  <mat-option value="mild">Mild</mat-option>
  <mat-option value="medium">Moderate</mat-option>
  <mat-option value="heavy">Severe</mat-option>
</mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill" class="custom-mat-form-field">
<mat-label>Remarks:</mat-label>
<textarea matInput rows="4" placeholder="Remarks" name="xctrlremarks" [(ngModel)]="editedData.xctrlremarks" #xctrlremarks="ngModel" required ></textarea>
<mat-error *ngIf="xctrlremarks.invalid && xctrlremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
<mat-form-field appearance="fill">
  <mat-label>LEFT UPPER LOBE:</mat-label>
  <mat-select matNativeControl name="xctlu" [(ngModel)]="editedData.xctlu"  #xctlu="ngModel" required>
    <mat-error *ngIf="xctlu.invalid && xctlu.touched">Value must be selected.</mat-error>
    <mat-option value="mild">Mild</mat-option>
    <mat-option value="medium">Moderate</mat-option>
    <mat-option value="heavy">Severe</mat-option>
  </mat-select>
</mat-form-field>
Remarks:
<mat-form-field appearance="fill" class="custom-mat-form-field">
  <mat-label>Remarks:</mat-label>
  <textarea matInput rows="4" placeholder="Remarks" name="xctluremarks" [(ngModel)]="editedData.xctluremarks" #xctluremarks="ngModel" required ></textarea>
  <mat-error *ngIf="xctluremarks.invalid && xctluremarks.touched">Enter a remark.</mat-error>
</mat-form-field> &nbsp;
</div>
<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>LEFT MIDDLE LOBE:</mat-label>
    <mat-select matNativeControl name="xctlm" [(ngModel)]="editedData.xctlm"  #xctlm="ngModel" required>
      <mat-error *ngIf="xctlm.invalid && xctlm.touched">Value must be selected.</mat-error>
      <mat-option value="mild">Mild</mat-option>
      <mat-option value="medium">Moderate</mat-option>
      <mat-option value="heavy">Severe</mat-option>
    </mat-select>
  </mat-form-field>
  Remarks:
  <mat-form-field appearance="fill" class="custom-mat-form-field">
    <mat-label>Remarks:</mat-label>
    <textarea matInput rows="4" placeholder="Remarks" name="xctlmremarks" [(ngModel)]="editedData.xctlmremarks" #xctlmremarks="ngModel" required ></textarea>
    <mat-error *ngIf="xctlmremarks.invalid && xctlmremarks.touched">Enter a remark.</mat-error>
  </mat-form-field> &nbsp;
  </div>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>LEFT LOWER LOBE:</mat-label>
      <mat-select matNativeControl name="xctll" [(ngModel)]="editedData.xctll"  #xctll="ngModel" required>
        <mat-error *ngIf="xctll.invalid && xctll.touched">Value must be selected.</mat-error>
        <mat-option value="mild">Mild</mat-option>
        <mat-option value="medium">Moderate</mat-option>
        <mat-option value="heavy">Severe</mat-option>
      </mat-select>
    </mat-form-field>
    Remarks:
    <mat-form-field appearance="fill" class="custom-mat-form-field">
      <mat-label>Remarks:</mat-label>
      <textarea matInput rows="4" placeholder="Remarks" name="xctllremarks" [(ngModel)]="editedData.xctllremarks" #xctllremarks="ngModel" required ></textarea>
      <mat-error *ngIf="xctllremarks.invalid && xctllremarks.touched">Enter a remark.</mat-error>
    </mat-form-field> &nbsp;
    </div>
    <h3>Lab results</h3><br>
    <h2>Haemotology test</h2>
    <h1>COMPLETE BLOOD COUNT</h1>
     <div *ngFor="let test of cbctests" class="row">
      {{ test.name }}:
      <mat-form-field appearance="fill">
        <mat-label>{{ test.name }}:</mat-label>
        <input matInput placeholder="Enter the observed value" [(ngModel)]="test.value" name="{{ test.name | lowercase }}" #input="ngModel" type="number">
        <mat-error *ngIf="input.invalid && input.touched">Please enter a valid value.</mat-error>
      </mat-form-field>
      Flag:
      <mat-form-field appearance="fill">
        <mat-label>Flag:</mat-label>
        <mat-select matNativeControl name="{{ 'flag' + test.name }}" [(ngModel)]="test.flag" required>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="Abnormal">Abnormal</mat-option>
          <mat-option value="High">High</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h1>DIFF WBC COUNT</h1>
     <div *ngFor="let test of wbccount" class="row">
      {{ test.name }}:
      <mat-form-field appearance="fill">
        <mat-label>{{ test.name }}:</mat-label>
        <input matInput placeholder="Enter the observed value" [(ngModel)]="test.value" name="{{ test.name | lowercase }}" #input="ngModel" type="number">
        <mat-error *ngIf="input.invalid && input.touched">Please enter a valid value.</mat-error>
      </mat-form-field>
      Flag:
      <mat-form-field appearance="fill">
        <mat-label>Flag:</mat-label>
        <mat-select matNativeControl name="{{ 'flag' + test.name }}" [(ngModel)]="test.flag" required>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="Abnormal">Abnormal</mat-option>
          <mat-option value="High">High</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h1>BIO CHEM RENAL</h1>
     <div *ngFor="let test of biochemrenal" class="row">
      {{ test.name }}:
      <mat-form-field appearance="fill">
        <mat-label>{{ test.name }}:</mat-label>
        <input matInput placeholder="Enter the observed value" [(ngModel)]="test.value" name="{{ test.name | lowercase }}" #input="ngModel" type="number">
        <mat-error *ngIf="input.invalid && input.touched">Please enter a valid value.</mat-error>
      </mat-form-field>
      Flag:
      <mat-form-field appearance="fill">
        <mat-label>Flag:</mat-label>
        <mat-select matNativeControl name="{{ 'flag' + test.name }}" [(ngModel)]="test.flag" required>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="Abnormal">Abnormal</mat-option>
          <mat-option value="High">High</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h1>ELECTROLYTES (Serum)</h1>
     <div *ngFor="let test of electro" class="row">
      {{ test.name }}:
      <mat-form-field appearance="fill">
        <mat-label>{{ test.name }}:</mat-label>
        <input matInput placeholder="Enter the observed value" [(ngModel)]="test.value" name="{{ test.name | lowercase }}" #input="ngModel" type="number">
        <mat-error *ngIf="input.invalid && input.touched">Please enter a valid value.</mat-error>
      </mat-form-field>
      Flag:
      <mat-form-field appearance="fill">
        <mat-label>Flag:</mat-label>
        <mat-select matNativeControl name="{{ 'flag' + test.name }}" [(ngModel)]="test.flag" required>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="Abnormal">Abnormal</mat-option>
          <mat-option value="High">High</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h1>URINE TEST</h1>
     <div *ngFor="let test of urine" class="row">
      {{ test.name }}:
      <mat-form-field appearance="fill">
        <mat-label>{{ test.name }}:</mat-label>
        <input matInput placeholder="Enter the observed value" [(ngModel)]="test.value" name="{{ test.name | lowercase }}" #input="ngModel" type="string">
        <mat-error *ngIf="input.invalid && input.touched">Please enter a valid value.</mat-error>
      </mat-form-field>
      Flag:
      <mat-form-field appearance="fill">
        <mat-label>Flag:</mat-label>
        <mat-select matNativeControl name="{{ 'flag' + test.name }}" [(ngModel)]="test.flag" required>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="Abnormal">Abnormal</mat-option>
          <mat-option value="High">High</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h1>BIOCHEMISTRY LIVER </h1>
     <div *ngFor="let test of biochemliver" class="row">
      {{ test.name }}:
      <mat-form-field appearance="fill">
        <mat-label>{{ test.name }}:</mat-label>
        <input matInput placeholder="Enter the observed value" [(ngModel)]="test.value" name="{{ test.name | lowercase }}" #input="ngModel" type="number">
        <mat-error *ngIf="input.invalid && input.touched">Please enter a valid value.</mat-error>
      </mat-form-field>
      Flag:
      <mat-form-field appearance="fill">
        <mat-label>Flag:</mat-label>
        <mat-select matNativeControl name="{{ 'flag' + test.name }}" [(ngModel)]="test.flag" required>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="Abnormal">Abnormal</mat-option>
          <mat-option value="High">High</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h1>A/G Ratio</h1>
     <div *ngFor="let test of agr" class="row">
      {{ test.name }}:
      <mat-form-field appearance="fill">
        <mat-label>{{ test.name }}:</mat-label>
        <input matInput placeholder="Enter the observed value" [(ngModel)]="test.value" name="{{ test.name | lowercase }}" #input="ngModel" type="number">
        <mat-error *ngIf="input.invalid && input.touched">Please enter a valid value.</mat-error>
      </mat-form-field>
      Flag:
      <mat-form-field appearance="fill">
        <mat-label>Flag:</mat-label>
        <mat-select matNativeControl name="{{ 'flag' + test.name }}" [(ngModel)]="test.flag" required>
          <mat-option value="Normal">Normal</mat-option>
          <mat-option value="Abnormal">Abnormal</mat-option>
          <mat-option value="High">High</mat-option>
          <mat-option value="Low">Low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h3>medicine</h3>
    <div class="row" >
      <div>
        <ul>
          <strong>Press to add medicine</strong>
          <li *ngFor="let inquantity of quantities; let l = index">
            Medicine:
            <mat-form-field appearance="fill">
              <mat-label>Medicine{{l +1}}:</mat-label>
            <input matInput type="text" [(ngModel)]="inquantity.med" name="med{{l}}">
            </mat-form-field> &nbsp;
            Dosage:
            <mat-form-field appearance="fill">
              <mat-label>Dosage:</mat-label>
            <input matInput type="text" [(ngModel)]="inquantity.qty" name="qty{{l}}">
            </mat-form-field> &nbsp;
            Method:
            <mat-form-field appearance="fill">
              <mat-label>Method:</mat-label>
            <input matInput type="text" [(ngModel)]="inquantity.method" name="method{{l}}">
            </mat-form-field> &nbsp;
            <button mat-button type="button" (click)="removeQuantity(l)">Remove</button>
            <br>
          </li>
        </ul>
        <button mat-button type="button" (click)="addQuantity()">Add Quantity</button>
      </div> 
    </div>   
   
    <div class="row">
      Upload prescription:
      <div>
        <div class="image-container" *ngIf="adata.length > 0">
          <div *ngFor="let item of adata; let i = index" class="profile-image">
            <img [src]="item.images" alt="Profile" class="passport-size">
            <button mat-button class="remove-button" (click)="removeImage(i)">Remove</button>
          </div>
        </div>
        <label for="imageInput" class="mat-button" title="Upload new profile image">Upload pictures</label><br>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" id="imageInput" multiple style="display: none;">
      </div>
    </div>
    
    <div class="row">
      Upload scans:
      <div>
        <div class="image-container" *ngIf="predata.length > 0">
          <div *ngFor="let itema of predata; let i = index" class="profile-image">
            <img [src]="itema.images" alt="Profile" class="passport-size">
            <button mat-button class="remove-button" (click)="removepreImage(i)">Remove</button>
          </div>
        </div>
        <label for="preImageInput" class="mat-button" title="Upload new profile image">Upload pictures</label><br>
        <input type="file" accept="image/*" (change)="onpreFileSelected($event)" id="preImageInput" multiple style="display: none;">
      </div>
    </div>
    <div class="row">
      <div>
        <mat-label for="pdfInput" class="mat-button" title="Upload new PDF document">Upload PDF(s) of your degree certificate:</mat-label><br>
        <input type="file" accept="application/pdf" (change)="onPDFSelected($event)" id="pdfInput" multiple>
        <span *ngIf="pdfFileNames.length > 0"><br>
          Selected files:
          <ul>
            <li *ngFor="let fileName of pdfFileNames">
              {{ fileName }}
              <button mat-button class="remove-button" (click)="removePDF(fileName)">Remove</button>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClick()" [disabled]="dataForm.invalid">Save</button>
</mat-dialog-actions>
</form>