<div class="container p-5">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button mat-icon-button mat-dialog-close class="close-button" (click)="onCloseClick()">
          <span class="close-icon">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe
          [src]="safeUrl"
          frameborder="0"
          scrolling="auto"
          height="100%"
          width="100%"
        ></iframe>
      </div>
    </div>
  </div>
</div>